:root {
  --primaryColor: #000716;
  --secondaryColor: #ffffff;

  /* --primaryTextColor: #9aca3f;
  
  --primaryBorderColor: #85a646; */

}

* {
  padding: 0;
  margin: 0;
}

.bg-theme-color {
  background-color: var(--primaryColor);
}